@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-winky: "WinkySans";

  --color-black: #1a1a17;
  --color-white: #ecedd4; /* beige */
  --color-primary: #204116; /* dark green */
  --color-secondary: #647aa3; /* blue */
  --color-link: #1e90ff;

  --color-dark-black: #000800;
  --color-dark-white: #ecedd4; /* beige */
  --color-darker-black: #3a3a2f;
  --color-dark-primary: #181a1b; /* dark gray */
  --color-dark-secondary: #204116; /* dark green */
}

html,
body {
  @apply dark:bg-dark-primary bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "WinkySans";
  src: url("/fonts/WinkySans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WinkySans";
  src: url("/fonts/WinkySans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "WinkySans";
  src: url("/fonts/WinkySans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
