@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-winky: "WinkySans";

  --color-black: #1a1a17;
  --color-white: #ecedd4;
  --color-primary: #204116;
  --color-secondary: #647aa3;
  --color-link: #1e90ff;

  --color-dark-black: #000800; /*schwarz*/
  --color-dark-white: #ecedd4; /*beige*/
  --color-darker-black: #3A3A2F;
  --color-dark-primary: #181A1B;/*dunkel Grau*/
  --color-dark-secondary: #3A3A2F; /*Grün*/
}

html,
body {
  @apply bg-white dark:bg-dark-primary;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "WinkySans";
  src: url("/fonts/WinkySans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WinkySans";
  src: url("/fonts/WinkySans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "WinkySans";
  src: url("/fonts/WinkySans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
